<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Song Suggestions - {{ page.title }}</title>
    <link
      rel="shortcut icon"
      href="{{site.baseurl}}/assets/images/daff.png"
      type="image/png"
    />
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="header-top">
          <a href="{{site.baseurl}}/"><h1 class="logo">Song suggestions</h1></a>

          <div id="toggler" class="mobile-hamburger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        {% include navigation.html %}
      </header>
      <main>{{ content }}</main>
      <footer>
        <p>DaffyDaphne 2024</p>
        <a href="{{site.baseurl}}/">Home</a>
      </footer>
    </div>
    <script>
      var toggler = document.getElementById("toggler");

      toggler.addEventListener("click", toggleVisible);
      function toggleVisible() {
        document.querySelector("nav").classList.toggle("hidden");
        toggler.classList.toggle("toggled");
      }
    </script>
  </body>
</html>
